.about {
  background-image: url(/images/about1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

.about h2 {
    font-size: calc(1.7rem + 0.5vw);
    color: var(--accent);
}

.about p {
    color: var(--accent);
    background: #4944129d;
    border-radius: 5px;
    padding: 20px;
    font-size: calc(0.8rem + 0.5vw);
}
